@import 'tailwindcss';

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'corporate';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(25.933% 0.09163 259.35);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.26rem;
  --size-field: 0.26rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: oklch(45.532% 0.18315 260.63);
  --color-primary-50: oklch(95.593% 0.01948 260.17);
  --color-primary-100: oklch(91.193% 0.03956 260.15);
  --color-primary-200: oklch(82.793% 0.07958 260.26);
  --color-primary-300: oklch(74.508% 0.12166 259.7);
  --color-primary-400: oklch(66.614% 0.16398 259.43);
  --color-primary-500: oklch(59.44% 0.20393 259.8);
  --color-primary-600: oklch(52.869% 0.21614 260.73);
  --color-primary-700: oklch(45.532% 0.18315 260.63);
  --color-primary-800: oklch(36.003% 0.13871 260.14);
  --color-primary-900: oklch(25.933% 0.09163 259.35);
  --color-primary-950: oklch(20.514% 0.06491 258.03);
}

@utility form-label {
  @apply block text-sm font-medium text-gray-800 mb-1;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.input,
.select {
  @apply outline-offset-0 placeholder:text-gray-300;
}

.input:focus,
.input:focus-within,
.select:focus,
.select:focus-within {
  @apply not-[.input-error]:outline-sky-600/30 not-[.input-error]:border-sky-600;
}
